/* card */

.container_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1040px) {
        justify-content: space-around;
    }
}

.card_wrapper {
    width: 320px;
    position: relative;
}

.shadow {
    display: none;
    position: absolute;
    width: 320px;
    height: 480px;
    background: rgba(242, 242, 242, .3);
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    z-index: 1;
}

.card_wrapper:nth-child(odd) {
    margin: 0 20px;

    @media(max-width: 640px) {
        margin: 0;
    }
}

.card_wrapper:nth-child(1) {

    @media (max-width: 1040px) {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width:640px) {
        width: 320px;
        display: block;
    }
}

.card_wrapper:nth-child(even) {

    @media (max-width: 1040px) {
        margin: 0 20px;
    }

    @media (max-width: 640px) {
        margin: 0;
    }
}


.card_border {
    position: relative;
    width: 320px;
    height: 480px;
    background: rgb(22, 152, 217);
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    cursor: pointer;
}

.card {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 312px;
    height: 472px;
    background: #f2f2f2;
    padding: 24px 0 0 49px;
    border-radius: 11px;
    text-align: left;
    clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
}

.card--info {

    .card_label {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        color: #666;
    }

    .card_title {
        font-size: 48px;
        line-height: 1.2;
        font-weight: 700;
        color: #000;
    }

    .card_descr {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;
        color: #000;
    }

    .card_specs {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #666;
        margin: 14px 0 0 0;
    }
}

.card_img {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    width: 312px;
    height: 269px;
    background: url(../img/card_bg.png);
}

.card_weight {
    position: absolute;
    bottom: 11px;
    right: 11px;
    width: 81px;
    height: 81px;
    background: rgb(22, 152, 217);
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}

.card_weight--count {
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;
}

.card_weight--measure {
    font-size: 21px;
}

.card_buy {
    margin: 15px 0 50px 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;

    .buy {
        text-decoration: none;
        border-bottom: 1px dashed #1698d9;
        font-weight: 700;
        color: #1698d9;
    }

    span {
        color: #1698d9;
    }

}